*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-image: url(https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-106174.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  
}
.App>*{
  width:70vw;
  border:2px dashed teal;
  margin :10px auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

